.infomenu{
font-weight:nomal;
font-size:16px;
color:#009900;
}


.optionmenu{
font-weight:bold;
font-size:15px;
color:#FF6600;
}


section.content article{
padding:0px 0 20px 0;
margin-bottom:10px;
overflow:hidden;
}


img.access{
float:none;
display:block;
}

.accessinfo{
max-width:90%;
}

.infobig{
font-weight: bold;
color:#FF6600;
}