.maps {
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}